


body {
    font-family: Arial, sans-serif;
       /* sets the body height to full viewport height */
    margin: 5px;      
    background-color: rgb(46, 45, 45);    
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#map {
    width: 100%;
    height: 400px;
    /* You can adjust this as needed */
    background-color: #ccc;
    /* Gray background to show the div before the map loads */
}

#dataDisplay{
    overflow: auto;
    height: 300px;
}

#userSelection input[type="radio"],
#userSelection label {
    display: inline-block;
    margin-right: 20px;
    /* spacing between each radio button set */
}